

.red-activo{
    background-color:rgb(255, 181, 193);
    opacity:0.8;
    
    display: block;
    
}

.formulario_error{
    display:none;
    font-size: 12px;
   
}
.formulario_error-activo{

    display: block;
}
.formulario-input{
    position: relative;
}

.validacion-estado{
    position: absolute;
    right:10px;
    bottom: 12px;
    z-index:100;
    font-size: 16px;
    display: none;
 

}

.alert{
    display: none;
}
.alert-activo{
    display: block;


}

.btnsend{
 flex-direction: "colum";

}

.formulario_mensaje-exito{
    font-style: initial;
    font-size: 20px;
    color: #119200;
    display:none;
}
.formulario_mensaje-exito-activo{
    display: block;
}


.grupo_card-correcto .validacion-estado{
color:#119200;
display: block;

}


.grupo_card-incorrecto .card_label{
    color:red;
  
    }
.grupo_card-incorrecto .validacion-estado{
    color:red;
    display: block;

}
